<%- include('../../partials/header') %>

    <div class="page-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="mb-0">Assign Menu</h4>
                        </div>
                        <div class="card-body">
                            <form id="assignMenuForm" novalidate>
                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        <label for="designation_id" class="form-label">Designation</label>
                                        <select class="form-select" id="designation_id" name="designation_id" required>
                                            <option value="">-- Select Designation --</option>
                                            <% if (Array.isArray(designations) && designations.length> 0) { %>
                                                <% designations.forEach(designation=> {
                                                    const name = designation.name;
                                                    const capitalizedName = name.charAt(0).toUpperCase() +
                                                    name.slice(1);
                                                    %>
                                                    <option value="<%= designation._id %>" <%= designation._id === '2' ? 'selected' : '' %>>
                                                        <%= capitalizedName %>
                                                    </option>
                                                    <% }) %>
                                                        <% } %>
                                        </select>
                                    </div>
                                    <div class="col-md-6 d-flex align-items-end">
                                        <button type="button" id="btnSelectAll" class="btn btn-outline-primary me-2">
                                            <i class="fas fa-check-square"></i> Select All
                                        </button>
                                    </div>
                                </div>

                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Permissions modules</th>
                                            <th class="text-center">
                                                <div class="form-check d-flex justify-content-center">
                                                    <input class="form-check-input" type="checkbox" id="selectAllMenus">
                                                    <label class="form-check-label ms-1" for="selectAllMenus">All</label>
                                                </div>
                                            </th>
                                            <th class="text-center">Read</th>
                                            <th class="text-center">Write</th>
                                            <th class="text-center">Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (Array.isArray(masterMenus) && masterMenus.length> 0) { %>
                                            <% let menuCounter=0; %>
                                                <% masterMenus.forEach(master=> { %>
                                                    <!-- Master Menu -->
                                                    <tr class="table-primary">
                                                        <td>
                                                            <strong>
                                                                <div class="form-check d-inline">
                                                                    <input 
                                                                        class="form-check-input master-menu-checkbox" 
                                                                        type="checkbox" 
                                                                        data-master-id="<%= master._id %>"
                                                                        id="master_<%= master._id %>">
                                                                    <label class="form-check-label" for="master_<%= master._id %>">
                                                                        <%= master.name %> (Menu)
                                                                    </label>
                                                                </div>
                                                            </strong>
                                                        </td>
                                                        <td class="text-center"></td>
                                                        <td class="text-center"></td>
                                                        <td class="text-center"></td>
                                                        <td class="text-center"></td>
                                                    </tr>

                                                    <!-- Second-level menus -->
                                                    <% if (Array.isArray(master.children) && master.children.length> 0) { %>
                                                        <% master.children.forEach(menu=> { %>
                                                            <% menuCounter++; %>
                                                                <tr class="menu-row" data-parent-id="<%= master._id %>">
                                                                    <td class="ps-5">
                                                                        <div class="form-check">
                                                                            <input
                                                                                class="form-check-input menu-checkbox"
                                                                                type="checkbox"
                                                                                name="menus[<%= menuCounter %>][menu_id]"
                                                                                value="<%= menu._id %>"
                                                                                data-parent-id="<%= master._id %>"
                                                                                id="menu_<%= menu._id %>">
                                                                            <label class="form-check-label"
                                                                                for="menu_<%= menu._id %>">
                                                                                <%= menu.name %> (SubMenu)
                                                                            </label>
                                                                        </div>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <input type="checkbox"
                                                                            class="form-check-input all-checkbox"
                                                                            data-menu-id="<%= menu._id %>">
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <input type="checkbox"
                                                                            class="form-check-input perm-read"
                                                                            name="menus[<%= menuCounter %>][permissions][read]"
                                                                            id="read_<%= menu._id %>">
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <input type="checkbox"
                                                                            class="form-check-input perm-write"
                                                                            name="menus[<%= menuCounter %>][permissions][write]"
                                                                            id="write_<%= menu._id %>">
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <input type="checkbox"
                                                                            class="form-check-input perm-delete"
                                                                            name="menus[<%= menuCounter %>][permissions][delete]"
                                                                            id="delete_<%= menu._id %>">
                                                                    </td>
                                                                </tr>

                                                                <!-- Third-level submenus -->
                                                                <% if (Array.isArray(menu.children) && menu.children.length> 0) { %>
                                                                    <% menu.children.forEach(submenu=> { %>
                                                                        <% menuCounter++; %>
                                                                            <tr class="menu-row" data-parent-id="<%= master._id %>">
                                                                                <td class="ps-5">
                                                                                    <div class="form-check d-inline">
                                                                                        <input
                                                                                            class="form-check-input menu-checkbox"
                                                                                            type="checkbox"
                                                                                            name="menus[<%= menuCounter %>][menu_id]"
                                                                                            value="<%= submenu._id %>"
                                                                                            data-parent-id="<%= master._id %>"
                                                                                            id="submenu_<%= submenu._id %>">
                                                                                        <label class="form-check-label"
                                                                                            for="submenu_<%= submenu._id %>">
                                                                                            <i class="fas fa-file-alt me-1"></i>
                                                                                            <%= submenu.name %>
                                                                                        </label>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="text-center">
                                                                                    <input type="checkbox"
                                                                                        class="form-check-input all-checkbox"
                                                                                        data-menu-id="<%= submenu._id %>">
                                                                                </td>
                                                                                <td class="text-center">
                                                                                    <input type="checkbox"
                                                                                        class="form-check-input perm-read"
                                                                                        name="menus[<%= menuCounter %>][permissions][read]"
                                                                                        id="read_<%= submenu._id %>">
                                                                                </td>
                                                                                <td class="text-center">
                                                                                    <input type="checkbox"
                                                                                        class="form-check-input perm-write"
                                                                                        name="menus[<%= menuCounter %>][permissions][write]"
                                                                                        id="write_<%= submenu._id %>">
                                                                                </td>
                                                                                <td class="text-center">
                                                                                    <input type="checkbox"
                                                                                        class="form-check-input perm-delete"
                                                                                        name="menus[<%= menuCounter %>][permissions][delete]"
                                                                                        id="delete_<%= submenu._id %>">
                                                                                </td>
                                                                            </tr>
                                                                            <% }) %>
                                                                                <% } %>
                                                                                    <% }) %>
                                                                                        <% } %>
                                                                                            <% }) %>
                                                                                                <% } else { %>
                                                                                                    <tr>
                                                                                                        <td colspan="5"
                                                                                                            class="text-center text-muted">
                                                                                                            No menus
                                                                                                            found.</td>
                                                                                                    </tr>
                                                                                                    <% } %>
                                    </tbody>
                                </table>

                                <div class="d-flex justify-content-end mt-4">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fas fa-save me-1"></i> Assign
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../../partials/footer') %>

<script>
document.addEventListener('DOMContentLoaded', () => {
    const designationSelect = document.getElementById('designation_id');
    const assignMenuForm = document.getElementById('assignMenuForm');
    const selectAllBtn = document.getElementById('btnSelectAll');
    const selectAllMenusCheckbox = document.getElementById('selectAllMenus');

    // Only menu checkboxes (not permissions)
    const menuCheckboxes = () => assignMenuForm.querySelectorAll('.menu-checkbox');
    const masterMenuCheckboxes = () => assignMenuForm.querySelectorAll('.master-menu-checkbox');

    let assignedMenus = [];

    // Function to get all child menu checkboxes of a master menu
    function getChildMenuCheckboxes(parentId) {
        return assignMenuForm.querySelectorAll(`.menu-checkbox[data-parent-id="${parentId}"]`);
    }

    // Function to set permissions for a menu
    function setMenuPermissions(menuId, checked) {
        const readCb = document.getElementById(`read_${menuId}`);
        const writeCb = document.getElementById(`write_${menuId}`);
        const deleteCb = document.getElementById(`delete_${menuId}`);
        const row = document.getElementById(`menu_${menuId}`)?.closest('tr');
        const allCb = row ? row.querySelector('.all-checkbox') : null;

        if (readCb) readCb.checked = checked;
        if (writeCb) writeCb.checked = checked;
        if (deleteCb) deleteCb.checked = checked;
        if (allCb) allCb.checked = checked;
    }

    // Function to set up row-level event listeners
    function setupRowEventListeners() {
        assignMenuForm.querySelectorAll('table tbody tr').forEach(row => {
            // Skip master menu rows
            if (row.classList.contains('table-primary')) return;

            const allCb = row.querySelector('td:nth-child(2) input[type="checkbox"]');
            if (!allCb) return;

            const readCb = row.querySelector('td:nth-child(3) input[type="checkbox"]');
            const writeCb = row.querySelector('td:nth-child(4) input[type="checkbox"]');
            const deleteCb = row.querySelector('td:nth-child(5) input[type="checkbox"]');
            const menuCb = row.querySelector('.menu-checkbox');

            // Check/uncheck Read/Write/Delete when "All" toggled
            allCb.addEventListener('change', () => {
                const checked = allCb.checked;
                if (readCb) readCb.checked = checked;
                if (writeCb) writeCb.checked = checked;
                if (deleteCb) deleteCb.checked = checked;

                if (menuCb && checked) {
                    menuCb.checked = checked;
                }

                updateSelectAllHeaderState();
                updateMasterMenuState(menuCb?.dataset.parentId);
            });

            // Auto-update "All" checkbox when permissions change
            [readCb, writeCb, deleteCb].forEach(permCb => {
                if (permCb) {
                    permCb.addEventListener('change', () => {
                        if (readCb && writeCb && deleteCb) {
                            allCb.checked = readCb.checked && writeCb.checked && deleteCb.checked;

                            if (menuCb && (readCb.checked || writeCb.checked || deleteCb.checked)) {
                                menuCb.checked = true;
                            }

                            updateSelectAllHeaderState();
                            updateMasterMenuState(menuCb?.dataset.parentId);
                        }
                    });
                }
            });

            // Ensure permissions are updated when menu checkbox changes
            if (menuCb) {
                menuCb.addEventListener('change', () => {
                    const checked = menuCb.checked;
                    const parentId = menuCb.dataset.parentId;

                    if (checked) {
                        // Auto-check Read permission when menu is selected
                        if (readCb) readCb.checked = true;
                    } else {
                        // Uncheck all permissions when menu is deselected
                        if (readCb) readCb.checked = false;
                        if (writeCb) writeCb.checked = false;
                        if (deleteCb) deleteCb.checked = false;
                        if (allCb) allCb.checked = false;
                    }

                    // Keep "All" synced
                    if (readCb && writeCb && deleteCb && allCb) {
                        allCb.checked = readCb.checked && writeCb.checked && deleteCb.checked;
                    }

                    updateSelectAllHeaderState();
                    updateMasterMenuState(parentId);
                });
            }
        });
    }

    // Function to update master menu checkbox state
    function updateMasterMenuState(parentId) {
        if (!parentId) return;

        const childCheckboxes = getChildMenuCheckboxes(parentId);
        const checkedChildren = Array.from(childCheckboxes).filter(cb => cb.checked);
        const masterCb = document.getElementById(`master_${parentId}`);

        if (!masterCb) return;

        if (childCheckboxes.length === 0) {
            masterCb.checked = false;
            masterCb.indeterminate = false;
            return;
        }

        if (checkedChildren.length === childCheckboxes.length) {
            masterCb.checked = true;
            masterCb.indeterminate = false;
        } else if (checkedChildren.length === 0) {
            masterCb.checked = false;
            masterCb.indeterminate = false;
        } else {
            masterCb.checked = false;
            masterCb.indeterminate = true;
        }
    }

    // Function to update the header "Select All" checkbox state
    function updateSelectAllHeaderState() {
        const boxes = Array.from(menuCheckboxes());
        const checkedBoxes = boxes.filter(cb => cb.checked);
        
        if (boxes.length === 0) {
            selectAllMenusCheckbox.checked = false;
            selectAllMenusCheckbox.indeterminate = false;
            return;
        }

        if (checkedBoxes.length === boxes.length) {
            selectAllMenusCheckbox.checked = true;
            selectAllMenusCheckbox.indeterminate = false;
        } else if (checkedBoxes.length === 0) {
            selectAllMenusCheckbox.checked = false;
            selectAllMenusCheckbox.indeterminate = false;
        } else {
            selectAllMenusCheckbox.checked = false;
            selectAllMenusCheckbox.indeterminate = true;
        }
    }

    // Master menu checkbox functionality
    masterMenuCheckboxes().forEach(masterCb => {
        masterCb.addEventListener('change', () => {
            const checked = masterCb.checked;
            const parentId = masterCb.id.replace('master_', '');

            // Get all child menu checkboxes
            const childCheckboxes = getChildMenuCheckboxes(parentId);

            childCheckboxes.forEach(cb => {
                cb.checked = checked;
                const menuId = cb.value;
                setMenuPermissions(menuId, checked);
            });

            updateSelectAllHeaderState();
        });
    });

    // Header "Select All" checkbox functionality
    selectAllMenusCheckbox.addEventListener('change', () => {
        const isChecked = selectAllMenusCheckbox.checked;
        
        menuCheckboxes().forEach(cb => {
            cb.checked = isChecked;
            const menuId = cb.value;
            setMenuPermissions(menuId, isChecked);
        });

        // Update all master menu checkboxes
        masterMenuCheckboxes().forEach(masterCb => {
            const parentId = masterCb.id.replace('master_', '');
            updateMasterMenuState(parentId);
        });

        updateSelectAllHeaderState();
    });

    // Initial setup
    setupRowEventListeners();

    // --- Load assigned menus ---
    designationSelect.addEventListener('change', async function () {
        const designationId = this.value;
        assignedMenus = [];

        // Uncheck all menu checkboxes and all permissions
        menuCheckboxes().forEach(cb => cb.checked = false);
        masterMenuCheckboxes().forEach(cb => {
            cb.checked = false;
            cb.indeterminate = false;
        });
        assignMenuForm.querySelectorAll('.perm-read, .perm-write, .perm-delete, .all-checkbox')
            .forEach(cb => cb.checked = false);

        // Reset header checkbox
        selectAllMenusCheckbox.checked = false;
        selectAllMenusCheckbox.indeterminate = false;

        if (!designationId) return;

        try {
            const res = await fetch(`${baseUrl}/api/assign-menu/designation/${designationId}/menus`);
            const data = await res.json();

            if (data.success && Array.isArray(data.data)) {
                assignedMenus = data.data;

                assignedMenus.forEach(menu => {
                    const cb = assignMenuForm.querySelector(`.menu-checkbox[value="${menu.menu_id}"]`);
                    if (cb) {
                        cb.checked = true;

                        if (menu.permissions) {
                            const readCb = document.getElementById(`read_${menu.menu_id}`);
                            const writeCb = document.getElementById(`write_${menu.menu_id}`);
                            const deleteCb = document.getElementById(`delete_${menu.menu_id}`);
                            const allCb = cb.closest('tr').querySelector('.all-checkbox');

                            if (readCb) readCb.checked = menu.permissions.read;
                            if (writeCb) writeCb.checked = menu.permissions.write;
                            if (deleteCb) deleteCb.checked = menu.permissions.delete;

                            if (allCb && readCb && writeCb && deleteCb) {
                                allCb.checked = readCb.checked && writeCb.checked && deleteCb.checked;
                            }
                        }
                    }
                });

                // Update master menu states
                masterMenuCheckboxes().forEach(masterCb => {
                    const parentId = masterCb.id.replace('master_', '');
                    updateMasterMenuState(parentId);
                });

                updateSelectAllHeaderState();
            } else {
                showToast('Failed to fetch assigned menus. Invalid response format.', "error");
            }
        } catch (err) {
            showToast('Failed to fetch assigned menus.', "error");
        }

        setTimeout(setupRowEventListeners, 100);
    });

    // --- Select All toggle ---
    selectAllBtn.addEventListener('click', () => {
        const boxes = Array.from(menuCheckboxes());
        const allChecked = boxes.every(cb => cb.checked);

        boxes.forEach(cb => {
            cb.checked = !allChecked;
            const menuId = cb.value;
            setMenuPermissions(menuId, !allChecked);
        });

        // Update master menu states
        masterMenuCheckboxes().forEach(masterCb => {
            const parentId = masterCb.id.replace('master_', '');
            updateMasterMenuState(parentId);
        });

        updateSelectAllHeaderState();
    });

    // --- Save assignment ---
    assignMenuForm.addEventListener('submit', async e => {
        e.preventDefault();

        const designationId = designationSelect.value;
        if (!designationId) return showToast('Please select a designation first.', "warning");

        const selectedMenus = Array.from(menuCheckboxes())
            .filter(cb => cb.checked)
            .map(cb => {
                const menuId = cb.value;
                return {
                    menu_id: menuId,
                    permissions: {
                        read: document.getElementById(`read_${menuId}`)?.checked || false,
                        write: document.getElementById(`write_${menuId}`)?.checked || false,
                        delete: document.getElementById(`delete_${menuId}`)?.checked || false,
                    }
                };
            });

        const hasChanges = checkForChanges(selectedMenus, assignedMenus);

        if (!hasChanges) {
            return showToast('No changes to save.', "info");
        }

        try {
            const response = await fetch(`${baseUrl}/api/assign-menu/assign`, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({
                    designation_id: designationId,
                    menus: selectedMenus
                })
            });

            const result = await response.json();

            if (result.success) {
                assignedMenus = selectedMenus;
                showToast('Menu assignments saved successfully!', 'success', 1000);
                setTimeout(() => window.location.reload(), 1200);
            } else {
                showToast(`Failed to save assignments: ${result.message}`, "error");
            }
        } catch (err) {
            showToast('Error updating menus.', 'error');
        }
    });

    function checkForChanges(selectedMenus, assignedMenus) {
        if (assignedMenus.length === 0 && selectedMenus.length > 0) return true;
        if (assignedMenus.length > 0 && selectedMenus.length === 0) return true;

        const selectedIds = selectedMenus.map(m => m.menu_id);
        const assignedIds = assignedMenus.map(m => m.menu_id);

        const menusAdded = selectedIds.some(id => !assignedIds.includes(id));
        const menusRemoved = assignedIds.some(id => !selectedIds.includes(id));

        if (menusAdded || menusRemoved) return true;

        for (const selectedMenu of selectedMenus) {
            const assignedMenu = assignedMenus.find(m => m.menu_id === selectedMenu.menu_id);
            if (!assignedMenu) continue;

            if (selectedMenu.permissions.read !== assignedMenu.permissions.read ||
                selectedMenu.permissions.write !== assignedMenu.permissions.write ||
                selectedMenu.permissions.delete !== assignedMenu.permissions.delete) {
                return true;
            }
        }

        return false;
    }

    // Trigger change event to load assigned menus if designation is pre-selected
    if (designationSelect.value) {
        designationSelect.dispatchEvent(new Event('change'));
    }
});
</script>